.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

img {
width: 100vw;
}

.form {
  padding: 3%;
}

